{% extends "ts_emod/scenario/base.html" %}

{% comment %}
########################################################################################################################
# VECNet CI - Prototype
# Date: 03/07/2014
# Institution: University of Notre Dame
# Primary Authors:
#   Robert Jones <Robert.Jones.428@nd.edu>
########################################################################################################################
{% endcomment %}

{% block page_title_local %}Select Region{% endblock %}


{% block extra_js %}
    <script src="{{ STATIC_URL }}ts_emod/js/browse.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}ts_emod/js/popovers_tooltips.js" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %} Select Region {% endblock %}
{% block step_title %} Select Region {% endblock %}
{% block page_content %}
    <div id="scenario_browser">

        <p>Selecting a <i>Region</i> provides default values for EMOD parameters, including weather and
            demographics files. You can change input parameters later.</p>

        <div class="well page-well scenario">
        <form action="" method="post" id="wizard">{% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.form.scenario.errors %}
                <li class="errorlist"><h4><i class="icon-warning-sign"></i><strong> Please select a region before proceeding.</strong></h4></li>
            {% endif %}

        <div style="text-align: center;"><img src="/static/ts_emod/img/map.png"></div>

        <table class="table table-hover table-striped table-condensed emod-table" id="scenario_table">
            <thead>
                {% if scenario_count > 10 %}
                <tr>
                    <th colspan="3">
                        <span>
                            Showing {{ current_start }}-{{ current_stop }} of {{ scenario_count }}
                        </span>
                        <div class="btn-group text-left">
                            <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li><input type="radio" name="limit_size" value="10" {% if pager_size == 10 %}checked="checked"{% endif %} id="limit_10"/> <label for="limit_10">10 Results/Page</label></li>
                                <li><input type="radio" name="limit_size" value="25" {% if pager_size == 25 %}checked="checked"{% endif %} id="limit_25"/> <label for="limit_25">25 Results/Page</label></li>
                                <li><input type="radio" name="limit_size" value="50" {% if pager_size == 50 %}checked="checked"{% endif %} id="limit_50"/> <label for="limit_50">50 Results/Page</label></li>
                                {% if user.is_authenticated %}
                                    <li class="divider"></li>
                                    <li><input type="radio" name="limit_group" value="0" {% if pager_group == 0 %}checked="checked"{% endif %} id="limit_none"/> <label for="limit_none">All Run Templatess</label></li>
                                    <li><input type="radio" name="limit_group" value="1" {% if pager_group == 1 %}checked="checked"{% endif %} id="limit_yours"/> <label for="limit_yours">Created By You</label></li>
                                    <li><input type="radio" name="limit_group" value="2" {% if pager_group == 2 %}checked="checked"{% endif %} id="limit_others"/> <label for="limit_others">Created By Others</label></li>
                                {% endif %}
                            </ul>
                        </div>
                    </th>
                </tr>
                {% endif %}
                <tr><th style="width:60%"></th><th style="width:auto;text-align: right;"><!-- Creator --> </th>
                    <th style="text-align: right;"></th>
                </tr>
            </thead>
            <tbody>
                {% for scenario_key, scenario in scenarios.iteritems %}
                    <tr>
                        <td colspan="2"><h3>{% if 'Solomon' in scenario.name %}A. Honiara, Solomon Islands{% else %}B. Western Kenya{% endif %} <!-- {{ scenario.name }} --></h3></td>
                        <td>
                            <ul class="nav nav-pills pull-right">
                                <!-- li><a class="btn-small" href="{% url "ts_emod_template_details" scenario_key %}" data-toggle="tooltip" title="Region Details"><i class="icon-eye-open icon-2x"></i></a></li-->
                                {% if 'Solomon' in scenario.name %}
                                    <li><a class="btn-small" href="https://www.google.com/maps/@-9.4361203,159.9732901,6289m/data=!3m1!1e3" data-toggle="tooltip" title="Region Details"><i class="icon-eye-open icon-2x"></i></a></li>
                                {% else %}
                                    <li><a class="btn-small" href="https://www.google.com/maps/@-0.5984522,34.5590405,70947m/data=!3m1!1e3" data-toggle="tooltip" title="Region Details"><i class="icon-eye-open icon-2x"></i></a></li>
                                {% endif %}

                                <li><input class="btn-small"
                                           {% if wizard.form.scenario.value|add:"0" == scenario_key|add:"0" %}checked="checked"{% endif %}
                                           {% if scenario.checked|add:"0" == 1 %}checked="checked"{% endif %}
                                            name="template-template_id" type=radio form="wizard" value={{ scenario_key }} title="Select this Region">&nbsp;&nbsp;&nbsp;</li>
                                {% if  scenario.created_by == user and not scenario.is_public %}
                                    <li><a class="btn-small btn-delete" href="{% url "ts_emod_delete_scenario" scenario_key %}" title="Delete Run"><i class="icon-trash"></i></a></li>
                                {% endif %}

                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="3" class="error">No predefined regions are available at this time.</td></tr>
                {% endfor %}
            </tbody>
            {% comment %}
            removing the table footer if there isn't a need for paging
            {% endcomment %}
            {% if scenario_count > 10 %}
            <tfoot>
                <tr>
                    <td colspan="3">
                        <form method="post" action="{% url "ts_emod_scenario_browse" %}" id="pager_form">
                            <div class="pagination pagination-small pagination-centered" id="pager">
                                {% csrf_token %}
                                <div style="display:none;">
                                    <input type="hidden" value="{{ pager_size }}" id="pager_size" name="pager_size" />
                                    <input type="hidden" value="{{ pager_offset }}" id="pager_offset" name="pager_offset"/>
                                    <input type="hidden" value="{{ pager_group }}" id="pager_group" name="pager_group"/>
                                </div>
                                <ul id="pager_list">
                                    {% if pager_max >= 2 %}
                                        <li {% if pager_offset < 1 %}class="disabled"{% endif %}><a href="#" id="pager_previous" {% if pager_offset >= 1 %}onclick="goToPage({{ pager_offset|add:"-1" }})"{% endif %}>Prev</a></li>
                                        {% for item in pager_count %}
                                            <li {% if pager_offset == forloop.counter0 %}class="active"{% endif %}><a href="#" id="pager_{{ forloop.counter }}" onclick="goToPage({{ forloop.counter0 }})">{{ forloop.counter }}</a></li>
                                        {% endfor %}
                                        <li {% if pager_offset == pager_max|add:"-1" %}class="disabled"{% endif %}><a href="#"  id="pager_next" {% if pager_offset < pager_max|add:"-1" %}onclick="goToPage({{ pager_offset|add:"1" }})"{% endif %}>Next</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </form>

                    </td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
        <div class="form-actions" id="actions_form">
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="left btn"><i class="icon-arrow-left"></i> Previous Step</button>
            {% endif %}
            <button type="submit" class="right btn">Next Step <i class="icon-arrow-right"></i></button>
        </div>
    </form>
    </div>
    </div>
<script>
    function goBack() { window.history.back(); }
</script>
{% endblock %}
