<a href="#omModal" role="button" data-toggle="modal"><i class="icon-info-sign"></i></a>

<!-- OM Modal -->
<div id="omModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">OpenMalaria</h3>
  </div>
  <div class="modal-body">
    <p><strong>OpenMalaria</strong>: was developed by the Swiss Tropical and Public Health Institute (Swiss TPH).
        Publications about <strong>OpenMalaria</strong> can be found at:</p>
      <p align="center">
          <a href="https://github.com/SwissTPH/openmalaria/wiki/References" target="_blank"><strong></strong>https://github.com/SwissTPH/openmalaria/wiki/References</strong></a>
    </p>
    <p align="justify">
        <ul>
            <li> <strong>OpenMalaria</strong> models humans as individual “agents”; vector dynamics are modeled with a system of equations.</li>
            <li> <strong>OpenMalaria</strong> model is designed for human-centric interventions.</li>
            <li> Currently, on VecNet, the <strong>OpenMalaria</strong> workflow is simpler to setup and run (compared to <strong>EMOD</strong>).</li>
            <li> <strong>OpenMalaria</strong> simulations run quicker on VecNet (than <strong>EMOD</strong>).</li>
        </ul>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

