<h4>Output Files:</h4>

{% for output_file in output_files %}
    <div class="row {% if forloop.counter0|divisibleby:2 %}gray-row{% endif %}">
        <div class="span6">
            <a class="tooltip_link accordion-toggle" data-toggle="collapse"
                data-target="#{{ output_file.file_type }}-accordion"
                title="Click to show/hide contents of the file">
                <strong>{{ output_file.printed_name }}</strong>
            </a>
        </div>

        <div class="span3">
            <div class="btn-group pull-right">
                <a class="btn btn-small tooltip_button accordion-toggle" data-toggle="collapse"
                    data-target="#{{ output_file.file_type }}-accordion"
                    title="Click to show/hide contents of the file">
                    <i class="icon-eye-open"></i>&nbsp;&nbsp;View
                </a>

                <a class="btn btn-small tooltip_link" href="{% url 'ts_emod2.download' output_file.file_type scenario.id %}"
                    title="Download a copy of the file to your computer.">
                    <i class="icon-arrow-down"></i>&nbsp;&nbsp;Download as Json
                </a>

                <a class="btn btn-small tooltip_link" href="{% url 'ts_emod2.download' output_file.file_type scenario.id %}"
                    title="Download a copy of the file to your computer.">
                    <i class="icon-arrow-down"></i>&nbsp;&nbsp;Download as Csv
                </a>

{#                    <a class="btn btn-small tooltip_link" href="#" data-original-title="Upload file"#}
{#                        data-toggle="modal" data-target="#{{ output_file.file_type }}-upload-modal">#}
{#                        <i class="icon-arrow-up"></i> Upload#}
{#                    </a>#}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span9">
            <div class="accordion-body collapse" id="{{ output_file.file_type }}-accordion">
                <div class="accordion-inner" style="">
                    {% if output_file.file_type == 'demographics' %}
{#                                        <div class="row">#}
{#                                            <div class="well well-large span8" id="demographics-chart" style="height: 400px; width: 100%"></div>#}
{#                                        </div>#}
                    {% endif %}

                    <pre class="">{{ output_file.json }}</pre>
                </div>
            </div>
        </div>
    </div>

{#        {% include "ts_emod2/upload_modal.html" with type=output_file.file_type %}#}
{% endfor %}