.span0point5 { width: 20px; }
.span0point75 { width: 45px; }
.span1point5 { width: 120px; }
.span1point75 { width: 145px; }
.span2point5 { width: 220px; }
.span2point75 { width: 245px; }
.span3point5 { width: 320px; }
.span3point75 { width: 345px; }
.span4point5 { width: 420px; }
.span4point75 { width: 445px; }
.span5point5 { width: 520px; }
.span5point75 { width: 545px; }
.span6point5 { width: 620px; }
.span6point75 { width: 645px; }
.span7point5 { width: 720px; }
.span7point75 { width: 745px; }
.span8point5 { width: 820px; }
.span8point75 { width: 845px; }
.span9point5 { width: 920px; }
.span9point75 { width: 945px; }