input[type="file"]
{
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height:22px;
}

.uploadButton
{
    padding-left:600pt;
}

.clickableList
{
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    list-style-type:none;
    margin-left:10px;
    margin-top:3px;
    margin-bottom:3px;    
    cursor:default;
}

#container
{
    width: 100px;
    background-color:#FFFFFF;
    border: 1px solid #000000;
    overflow:auto;
}