<div id="add-new-location-modal" class="modal hide fade" tabindex="-1" role="dialog"
        aria-labelledby="add-new-location-modal-label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="add-new-location-modal-label">Add New Location</h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="span2">
                Location Name:
            </div>

            <div class="span3">
                <input type="text" id="location_name" />
            </div>
        </div>

        <div class="row">
            <div class="span2">
                Latitude (Optional):
            </div>

            <div class="span3">
                <input type="text" id="latitude" />
            </div>
        </div>

        <div class="row">
            <div class="span2">
                Longitude (Optional):
            </div>

            <div class="span3">
                <input type="text" id="longitude" />
            </div>
        </div>

        {% if dim_user.is_staff %}
            <div class="row">
                <div class="span2">
                    Make Public:
                </div>

                <div class="span3">
                    <input type="checkbox" id="make_location_public"/>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="modal-footer">
        <button class="btn pull-right" data-dismiss="modal" aria-hidden="true">
            <i class="icon-remove"></i>&nbsp;&nbsp;Cancel
        </button>
    </div>
</div>